body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;

}


section#hero {
  text-align: center;
  padding: 5rem 2rem;
  font-size: larger;
  color: #fff;

}

a.button {
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

@media (max-width: 480px) {
  nav .links .btn-outline{
  padding: auto 1vw;
  margin: auto 1vw;
  }
}